USE [YouTubeListManager]
GO
/****** Object:  Table [dbo].[Playlist]    Script Date: 12/3/2017 7:08:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Playlist](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Hash] [nvarchar](max) NULL,
	[Title] [nvarchar](255) NULL,
	[PrivacyStatus] [int] NOT NULL,
	[ThumbnailUrl] [nvarchar](max) NULL,
	[UserId] [int] NULL,
 CONSTRAINT [PK_dbo.Playlist] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PlaylistItem]    Script Date: 12/3/2017 7:08:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlaylistItem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Hash] [nvarchar](max) NULL,
	[Position] [bigint] NULL,
	[VideoInfoId] [int] NOT NULL,
	[PlaylistId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.PlaylistItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 12/3/2017 7:08:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VideoInfo]    Script Date: 12/3/2017 7:08:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VideoInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Hash] [nvarchar](max) NULL,
	[Title] [nvarchar](max) NULL,
	[Duration] [int] NOT NULL,
	[Live] [bit] NOT NULL,
	[ThumbnailUrl] [nvarchar](max) NULL,
	[PrivacyStatus] [int] NOT NULL,
 CONSTRAINT [PK_dbo.VideoInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Playlist] ON 

INSERT [dbo].[Playlist] ([Id], [Hash], [Title], [PrivacyStatus], [ThumbnailUrl], [UserId]) VALUES (1, N'PLFueGfLR79HBOrhhui3cfW3VTw4lBAB2C', N'Acoustix', 0, N'https://i.ytimg.com/vi/BYkvtgwe2ds/sddefault.jpg', NULL)
INSERT [dbo].[Playlist] ([Id], [Hash], [Title], [PrivacyStatus], [ThumbnailUrl], [UserId]) VALUES (2, N'PLFueGfLR79HBWDTCTCS2d69kXPI_wNOsU', N'hippie', 2, N'https://i.ytimg.com/vi/lS-af9Q-zvQ/sddefault.jpg', NULL)
INSERT [dbo].[Playlist] ([Id], [Hash], [Title], [PrivacyStatus], [ThumbnailUrl], [UserId]) VALUES (3, N'PL85E70F7018A2790A', N'dubbish', 1, N'https://i.ytimg.com/vi/HdNfjF2TiU4/sddefault.jpg', NULL)
SET IDENTITY_INSERT [dbo].[Playlist] OFF
SET IDENTITY_INSERT [dbo].[PlaylistItem] ON 

INSERT [dbo].[PlaylistItem] ([Id], [Hash], [Position], [VideoInfoId], [PlaylistId]) VALUES (1, N'UExGdWVHZkxSNzlIQk9yaGh1aTNjZlczVlR3NGxCQUIyQy41NkI0NEY2RDEwNTU3Q0M2', 0, 1, 1)
INSERT [dbo].[PlaylistItem] ([Id], [Hash], [Position], [VideoInfoId], [PlaylistId]) VALUES (2, N'UExGdWVHZkxSNzlIQk9yaGh1aTNjZlczVlR3NGxCQUIyQy4yODlGNEE0NkRGMEEzMEQy', 1, 2, 1)
INSERT [dbo].[PlaylistItem] ([Id], [Hash], [Position], [VideoInfoId], [PlaylistId]) VALUES (3, N'UExGdWVHZkxSNzlIQk9yaGh1aTNjZlczVlR3NGxCQUIyQy4wMTcyMDhGQUE4NTIzM0Y5', 2, 3, 1)
GO
SET IDENTITY_INSERT [dbo].[PlaylistItem] OFF
SET IDENTITY_INSERT [dbo].[VideoInfo] ON 

INSERT [dbo].[VideoInfo] ([Id], [Hash], [Title], [Duration], [Live], [ThumbnailUrl], [PrivacyStatus]) VALUES (1, N'BYkvtgwe2ds', N'Mariama - Underground | SK* Session', 250, 1, N'https://i.ytimg.com/vi/BYkvtgwe2ds/sddefault.jpg', 0)
INSERT [dbo].[VideoInfo] ([Id], [Hash], [Title], [Duration], [Live], [ThumbnailUrl], [PrivacyStatus]) VALUES (2, N'kybEZ0cMg3Y', N'Sarah Blasko - All I Want | SK Session', 281, 1, N'https://i.ytimg.com/vi/kybEZ0cMg3Y/sddefault.jpg', 0)
INSERT [dbo].[VideoInfo] ([Id], [Hash], [Title], [Duration], [Live], [ThumbnailUrl], [PrivacyStatus]) VALUES (3, N'9FTBLVEPEys', N'Imany "You Will Never Know"', 225, 1, N'https://i.ytimg.com/vi/9FTBLVEPEys/sddefault.jpg', 0)
GO
SET IDENTITY_INSERT [dbo].[VideoInfo] OFF
ALTER TABLE [dbo].[Playlist]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Playlist_dbo.User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Playlist] CHECK CONSTRAINT [FK_dbo.Playlist_dbo.User_UserId]
GO
ALTER TABLE [dbo].[PlaylistItem]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PlaylistItem_dbo.Playlist_PlaylistId] FOREIGN KEY([PlaylistId])
REFERENCES [dbo].[Playlist] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PlaylistItem] CHECK CONSTRAINT [FK_dbo.PlaylistItem_dbo.Playlist_PlaylistId]
GO
ALTER TABLE [dbo].[PlaylistItem]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PlaylistItem_dbo.VideoInfo_VideoInfoId] FOREIGN KEY([VideoInfoId])
REFERENCES [dbo].[VideoInfo] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PlaylistItem] CHECK CONSTRAINT [FK_dbo.PlaylistItem_dbo.VideoInfo_VideoInfoId]
GO
