<div class="module-wrapper">
  <div class="container half" *ngIf="playlist">
    <div class="header">
      <h2>{{playlist.Title}} <span class="privacy {{playlistStatus}}">{{playlist.PrivacyStatus}}</span></h2>
      <div class="button" data-ng-click="getNextConflict()" data-ng-if="model.markedItems.length > 0"></div>
    </div>
    <ul id="playlist-container" class="item-list" dnd-sortable-container [sortableData]="playlist.PlaylistItems">
      <li id="{{playlistItem.Hash}}" class="item" *ngFor="let playlistItem of playlistItems | async" dnd-sortable dnd-droppable [sortableIndex]="playlistItem.Position" (onDropSuccess)="onDrop()" >
        <div class="item-wrapper">
          <div (click)="selectPlayList(playlist.Hash)" class="image-wrapper " data-ng-class="{selected: (current.hash === playlistItem.Hash)}">
            <img src="{{playlistItem.VideoInfo.ThumbnailUrl}}" class="image"/>
            <div class="extra-info" data-ng-class="{'conflict': (playlistItem.VideoInfo.Live === false)}"><span>{{playlistItem.Position}}</span></div>
            <div class="extra-info duration"><span>{{playlistItem.VideoInfo.Duration | durationFormatter}}</span></div>
            <div class="item-footer">
              <div class="title">{{playlistItem.VideoInfo.Title}}</div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <div class="footer">
      <div class="button" (click)="save()"><span>Save</span></div>
    </div>
  </div>
  <div class="container half" *ngIf="suggestions">
    <div class="header">
      <!--<h2>
        <input class="checkbox" type="checkbox" data-ng-model="autoLoad"/> Suggestions <input type="text" data-ng-model="model.searchKey"/>
      </h2>-->
    </div>
    <ul class="item-list">
      <li class="item" data-ng-repeat="video in suggestions" (click)="resolveConflict(video)" (dblclick)="previewVideo(video.Hash)">
        <div class="item-wrapper">
          <div class="image" style="background: url('{{video.ThumbnailUrl}}') center no-repeat">
            <div class="extra-info duration"><span>{{video.Duration | durationFormatter}}</span></div>
            <div class="item-footer">
              <div class="title">{{video.Title}}</div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <div class="footer" *ngIf="!autoLoad">
      <div class="button" (click)="showSuggestions()"><span>Load more</span></div>
    </div>
  </div>
</div>
