<div class="module-wrapper">
    <div class="container half">
        <div class="header">
            <h2>{{model.playlist.Title}} <span class="privacy {{model.playlistStatus}}">{{model.playlist.PrivacyStatus}}</span></h2>
            <div class="button" data-ng-click="getNextConflict()" data-ng-if="model.markedItems.length > 0"></div>
        </div>
        <ul id="playlist-container" class="item-list">
            <li id="{{playlistItem.Hash}}" class="item"  data-ng-repeat="playlistItem in model.playlist.PlaylistItems" data-position="{{playlistItem.Position}}">
                <div class="item-wrapper">
                    <div class="image" data-ng-class="{selected: (model.current.Hash === playlistItem.Hash)}" style="background: url('{{playlistItem.VideoInfo.ThumbnailUrl}}') center no-repeat">
                        <div class="extra-info" data-ng-class="{'conflict': (playlistItem.VideoInfo.Live === false)}"><span>{{playlistItem.Position}}</span></div>
                        <div class="extra-info duration"><span>{{playlistItem.VideoInfo.Duration | durationFormatter}}</span></div>
                        <div class="item-footer">
                            <div class="title">{{playlistItem.VideoInfo.Title}}</div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="footer">
            <div class="button" data-ng-click="save()"><span>Save</span></div>
        </div>
    </div>
    <div class="container half">
        <div class="header">
            <h2><input class="checkbox" type="checkbox" data-ng-model="model.autoLoad"/> Suggestions <input type="text" data-ng-model="model.searchKey"/>
            </h2>
        </div>
        <ul class="item-list">
            <li class="item" data-ng-repeat="video in model.suggestions" data-ng-click="resolveConflict(video)" data-ng-dblclick="previewVideo(video.Hash)">
                <div class="item-wrapper">
                    <div class="image" style="background: url('{{video.ThumbnailUrl}}') center no-repeat">
                        <div class="extra-info duration"><span>{{video.Duration | durationFormatter}}</span></div>
                        <div class="item-footer">
                            <div class="title">{{video.Title}}</div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="footer" data-ng-if="!model.autoLoad">
            <div class="button" data-ng-click="showSuggestions()"><span>Load more</span></div>
        </div>
    </div>
</div>