@model YouTubeListManager.Data.Domain.PlayList
List: @Model.Title
Privacy: @Model.PrivacyStatus

<ul>
    @foreach (var playListItem in Model.PlayListItems)
    {
        <li>@playListItem.VideoInfo.Title : @playListItem.VideoInfo.Duration</li>
    }
</ul>